In [49]:
import pandas as pd
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt
from scipy.stats import bernoulli, binom, uniform, norm, poisson
from scipy.stats import norm, t, ttest_1samp, ttest_ind 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

In [5]:
df=pd.read_csv('spam.csv',encoding='iso-8859-1')

In [13]:
#df.drop('Unnamed: 2',axis=1,inplace=True)
#df.drop('Unnamed: 3',axis=1,inplace=True)
#df.drop('Unnamed: 4',axis=1,inplace=True)
df.describe().T

   count unique                     top  freq
v1  5572      2                     ham  4825
v2  5572   5169  Sorry, I'll call later    30

In [46]:
df.iloc[[1432,4720,4421,1279,4172,5054,2038,5001,4227,1942,3512]]

       v1                                                 v2
1432  ham             Thanks for ve lovely wisheds. You rock
4720  ham         Yup. Anything lor, if u dun wan it's ok...
4421  ham            MMM ... Fuck .... Merry Christmas to me
1279  ham  Waiting 4 my tv show 2 start lor... U leh stil...
4172  ham  Ok... But they said i've got wisdom teeth hidd...
5054  ham  Am on a train back from northampton so i'm afr...
2038  ham        Hey are we going for the lo lesson or gym?
5001  ham         You still around? Looking to pick up later
4227  ham                           Have you started in skye
1942  ham     K...k:)why cant you come here and search job:)
3512  ham     Staff of placement training in Amrita college.

In [41]:
X_bar=df[df.v1=='spam'].v1.count()/df.v1.count()
X_bar

0.13406317300789664

In [38]:
#

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [47]:
messages=list(df.v2)

In [48]:
print(len(messages))

5572

In [51]:
count_vect = CountVectorizer()
tfidf_transformer = TfidfTransformer()

counts = count_vect.fit_transform(messages)  # change
tfidfs = tfidf_transformer.fit_transform(counts)

X_train, X_test, y_train, y_test = train_test_split(tfidfs, df.v1, test_size=0.33, random_state=42) #change

nb = MultinomialNB().fit(X_train, y_train)
predictions = nb.predict(X_test)

In [52]:
predictions

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'],
      dtype='<U4')